.navi .navbar {
  padding: 0;
}
.navi .navbar .container-fluid {
  background-color: #014743;
  padding: 0;
  margin: 0;
}
.logo_svg {
  width: 150px;
  height: 150px;
}
.navi .navbar-light .navbar-nav .nav-link  {
  color: #F3CD7D;
  padding-right: 2.5rem;
  font-weight: 800;
  font-size: 20px;
}
.navi .navbar-light .navbar-nav .nav-link:hover {
  color: chartreuse;
}
.navbar-brand {
  padding-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.slide_movie {
  /* height: 500px; */
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding-top: 56.25%;
  /* padding-bottom: 20px; */
  background: #000;
  position: relative;
}
.slide_movie iframe {
  /* display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; */
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.carousel {
  background-color: #014743;
}
.carousel-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}
.carousel-item {
  background-color: #014743;
}
.card-body {
  background-color: #014743;
  color: #F3CD7D;
}
.card-title {

}


/*Footer*/
footer {
  margin-top: auto;
}
.footer_inner {
  display: flex;
  justify-content: space-between;
  padding: 38px 38px 18px;
  background-color: #000;
}
.footer_left {
  display: block;
}
.footer_contact_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts_item {
  display: list-item;
  text-align: -webkit-match-parent;
}
.footer_contacts_title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}
.footer_contacts_item {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 300;
  color: #fff;
  font-family: Neue;
}
.footer_cocntacts_link {
  color: #fff;
  text-decoration: none;
  font-family: Neue;
}

.footer_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 32px;
  text-align: end;
}
.social {
  display: flex;
  justify-content: center;
}
.social_icon {
  color: #fff;
  width: 30px;
  height: 30px;
  margin-top: 50px;
  margin-left: 85px;
  /* margin-right: 60px;
  margin-bottom: 25px; */
  /* padding-right: 55px;
  padding-bottom: 25px; */
}
.social_icon:hover {
  border-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 30px#fff;
  color: #fff;
}
.lang_list_footer {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.lang_item_footer {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 300;
  color: #fff;
}
.lang_link_footer {
  display: inline-block;
  margin: 25px;
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
  color: #fff;
  text-decoration: none;
  font-family: Neue;
}
@media screen and (max-width: 768px) {
  .social_icon {
    color: #fff;
    width: 40px;
    height: 40px;
    margin-top: 75px;
    margin-left: 85px;
    /* margin-right: 60px;
    margin-bottom: 25px; */
    /* padding-right: 55px;
    padding-bottom: 25px; */
  }
}






